stages:
  - test
  - deploy

image: docker:latest
services:
  - name: docker:20.10.16-dind

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""

phpunit:
  stage: test
  image: docker/compose
  before_script:
    - apk add curl
    - cp .env.pipeline .env
  script:
    - ./.gitlab-ci-scripts/phpunit.sh
  artifacts:
    paths:
      - coverage
  coverage: /^\s*Lines:\s*\d+.\d+\%/
  only:
    - tags
    - merge_requests

build-and-deploy:
  stage: deploy
  variables:
    DOCKER_IMAGE_NAME: "annotation-tool"
    DOCKER_IMAGE_TAG: $CI_COMMIT_TAG
    DOCKER_IMAGE_LATEST: "true"
  before_script:
    - echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin
  script:
    - docker build --provenance=false -t $DOCKER_IMAGE_URL:$DOCKER_IMAGE_TAG -f ./docker/app/production/Dockerfile .
    - docker push $DOCKER_IMAGE_URL:$DOCKER_IMAGE_TAG
    - >
      if [ "$DOCKER_IMAGE_LATEST" == "true" ]; then
        docker tag $DOCKER_IMAGE_URL:$DOCKER_IMAGE_TAG $DOCKER_IMAGE_URL:latest
        docker push $DOCKER_IMAGE_URL:latest
        docker image rm $DOCKER_IMAGE_URL:latest
      fi
    - docker image rm $DOCKER_IMAGE_URL:$DOCKER_IMAGE_TAG
  only:
    - tags
