parameters:
	ignoreErrors:
		-
			message: "#^Property App\\\\Console\\\\Kernel\\:\\:\\$commands type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Console/Kernel.php

		-
			message: "#^Anonymous function has an unused use \\$newRelationSchema\\.$#"
			count: 1
			path: app/GraphQL/Mutations/SaveMatterRelationSchema.php

		-
			message: "#^Parameter \\$relation of method App\\\\Contracts\\\\Factories\\\\MatterRelationFactoryInterface\\:\\:create\\(\\) expects App\\\\Enums\\\\MatterRelationEnum, BenSampo\\\\Enum\\\\Enum\\|null given\\.$#"
			count: 1
			path: app/GraphQL/Mutations/SaveMatterRelationSchema.php

		-
			message: "#^Unable to resolve the template type TKey in call to function collect$#"
			count: 1
			path: app/GraphQL/Mutations/SaveMatterRelationSchema.php

		-
			message: "#^Unable to resolve the template type TValue in call to function collect$#"
			count: 1
			path: app/GraphQL/Mutations/SaveMatterRelationSchema.php

		-
			message: "#^Parameter \\#1 \\$enumClass of class Nuwave\\\\Lighthouse\\\\Schema\\\\Types\\\\LaravelEnumType constructor expects class\\-string\\<TEnum of BenSampo\\\\Enum\\\\Enum\\<TValue\\>\\>, string given\\.$#"
			count: 1
			path: app/Providers/GraphQLServiceProvider.php

		-
			message: "#^Parameter \\#1 \\$type of method Nuwave\\\\Lighthouse\\\\Schema\\\\TypeRegistry\\:\\:overwrite\\(\\) expects GraphQL\\\\Type\\\\Definition\\\\NamedType&GraphQL\\\\Type\\\\Definition\\\\Type, object given\\.$#"
			count: 1
			path: app/Providers/GraphQLServiceProvider.php

		-
			message: "#^Parameter \\#1 \\$type of method Nuwave\\\\Lighthouse\\\\Schema\\\\TypeRegistry\\:\\:register\\(\\) expects GraphQL\\\\Type\\\\Definition\\\\NamedType&GraphQL\\\\Type\\\\Definition\\\\Type, object given\\.$#"
			count: 1
			path: app/Providers/GraphQLServiceProvider.php
